.hero {
  position: relative;
  text-align: center;
  padding: 150px 20px;
  background: #0a0a0a;
  margin: 20px 0;
  overflow: hidden;
  cursor: none;
}

.particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none; /* This is crucial - allows mouse events to pass through */
}



.hero-subtitle {
  font-size: 24px;
  color: #f0f0f0;
  margin-top: 10px;
  text-shadow: 
    0 0 5px #f0f0f0, 
    0 0 10px #f0f0f0, 
    0 0 20px #f0f0f0; /* Subtle glow effect */
  position: relative;
  z-index: 2;
}